/* Cores usados */

:root{
  --preto: #111827;
  --preto-cinza: #1F2937;
  --verde: #15803D;
  --branco: #ffffff;
  --branco-cinza: #EDEDED;
  --azul-aqua: #00ffff
}


/* Acesso global */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--azul-aqua);
}

a {
  text-decoration: none;
}


/* Acesso à página de Login */

/* Propriedades Classes */

.conteiner{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 80px;
  position: relative;

}

.card-form{
  padding: 70px;
  background-color: var(--preto-cinza);
  border-radius: 3%;
  position: relative;
  top: 80px;
}

.form-group legend{
  text-align: center;
  color: var(--branco)
}

.text-label {
  color: var(--branco);
  font-size: large;

}

/* Propriedade IDs */

#login {
  text-align: center;
  border: 2px solid var(--verde);
  border-radius: 30px;
  color: var(--branco);
  background-color: var(--preto);
  position: relative;
  bottom: 20px;

}

#username {
  font-size: larger;
  padding: 10px;
  border: none;
  border-radius: 600px;
  background-color: var(--branco-cinza);

}

#password {
  font-size: larger;
  padding: 10px;
  border: none;
  border-radius: 600px;
  background-color: var(--branco-cinza);

}

#btn_send {
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: var(--branco);
  transition: 1s;
  background-color: var(--preto);
  font-size: larger;
  margin: 20px;
  position: relative;
  top: 25px;

}

#btn_send:hover {
  transform: scale(1.1);
  background-color: var(--verde);
}


/* Acesso a página de Home */

/* Propriedades Classes */

.title-card {
  border: 2px;
  color: var(--branco); 
  border: solid var(--verde);
  border-radius: 20px;
  height: 80px;
  padding: 2% 30%;
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: var(--preto);
  font-size: xx-large;
  
}

.style_legend {
  color: white;
  
}


#btn_back {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  cursor: pointer;
  transition: 1s;
  color: var(--branco);
  font-size: larger;
  text-align: center;
  background-color: var(--preto);
  border: none;
  align-items: center;
  border-radius: 10px;

}

#btn_back:hover {
  transform: scale(1.1);
  background-color: var(--verde);
  color: var(--branco);
}

#btn_leave{
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  cursor: pointer;
  transition: 1s;
  color: var(--branco);
  font-size: larger;
  text-align: center;
  background-color: var(--preto);
  border: none;
  align-items: center;
  border-radius: 10px;
}

#btn_leave:hover{
  transform: scale(1.1);
  background-color: var(--verde);
  color: var(--branco);

}